<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>University Registar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="~/css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="navbar">
      <nav>
        <img src="~/img/logo.png" alt="University logo" class="logo">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/students">STUDENTS</a></li>
          <li><a href="/courses">COURSES</a></li>
          <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">CLICK HERE</a></li>
        </ul>
      </nav>
    </div>

    <div class="container">
      <div class="header">
      <h1>Welcome to the University of Portlandia</h1>
      </div>
      @RenderBody()
    </div>
  </body>
</html>