@{
  Layout = "_Layout";
}

<h1>Welcome to the Registrar's Office</h1>
<h3>Click on the menu items below to manage your course load.</h3>
<p>@Html.ActionLink("View Students", "Index", "Students")</p>
<p>@Html.ActionLink("View Course Catalog", "Index", "Courses")</p>
